html/company-staff-org.html

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/global.css"/>
    <link rel="stylesheet" href="../css/absolute.css"/>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.simplemodal.min.js"></script>
    <script type="text/javascript" src="../js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="../js/common.min.js"></script>
    <script src="http://gordo.st/js/global.js"></script>
    <title>Компания / Персонал / Организационная структура
    </title>
  </head>
  <body>
    

    <div class="header">

      <div class="fixed-wrapper">

        <div class="topbar">
          <div class="container">
            <ul class="nav">
              <li><a href="company-list.html">Компании</a>
              </li>
              <li><a href="vacancy-list.html">Вакансии</a>
              </li>
            </ul>
            <ul class="nav">
              <li class="active"><a href="#bs">Бизнес Симулятор</a>
              </li>
              <li><a href="blog-list">Тусовка</a>
              </li>
            </ul>
          </div>
        </div><!-- .topbar -->


        <div class="navbar">
          <div class="container"><a class="logo" href="/"><img src="../img/navbar-logo.png" alt=""/></a><a class="logo-lion" href="/"></a>

            <div id="tray" class="tray"> <a class="btn -tooltip" href="#">15</a>
              <div class="group"> <a class="btn -white" href="#"><span class="avatar"><img src="http://lorempixel.com/30/30/abstract/1" alt="" width="30" height="30"/></span>Username</a> <a class="btn -white -compact" href="#"><i class="icon -remove-dark"></i></a>
              </div>
              <form id="navbar_search" class="form group">
                <input id="navbar_search_field" type="text" name="search"/>
                <button id="navbar_search_btn" class="btn -white"><i class="icon -search-dark"></i></button>
              </form>
            </div><!-- #tray -->


            <div id="login_form" class="form">
              <div class="wrapper">
                <div class="title">Вход / Регистрация</div>
                <table class="social">
                  <tr>
                    <td><a href="#"><i class="icon -vk"></i></a>
                    </td>
                    <td><a href="#"><i class="icon -facebook"></i></a>
                    </td>
                    <td><a href="#"><i class="icon -twitter"></i></a>
                    </td>
                    <td><a href="#"><i class="icon -linkedin"></i></a>
                    </td>
                  </tr>
                </table>
                <input placeholder="E-mail" type="text" name="email"/>
                <input placeholder="Пароль" type="password" name="password"/>
                <label class="checkbox">
                  <input type="checkbox" name="save"/><span>Запомнить</span>
                </label>
                <button class="btn -orange -right">OK</button>
                <button class="btn -link">Забыли пароль</button>
              </div>
            </div><!-- #login_form -->

          </div>
        </div><!-- .navbar -->

      </div><!-- .fixed-wrapper -->

    </div><!-- .header -->

    <div class="navbar-footer">
      <div class="container">
        <div class="ratio">38</div>
        <div class="game-progress">
          <div class="game-ratio">5K</div>
          <div class="progress-bar">
            <div style="width:75%" class="progress">300</div>
          </div>
          <div class="game-ratio-target">1000</div>
        </div>
        <div class="pull-right">
          <div class="balance">
            <div class="coin"></div>
            <div class="digit-group"><span class="digit -d5"></span><span class="digit -d2"></span><span class="digit -d0"></span></div>
            <div class="digit-group"><span class="digit -d6"></span><span class="digit -d0"></span><span class="digit -d0"></span></div>
            <div class="digit-group"><span class="digit -arrows-down"></span>
              <!--.-arrows OR .-arrows-up OR .-arrows-down-->
            </div>
          </div>
          <div onMouseOver="$(this).toggleClass(&quot;flip&quot;)" class="gold-coin">+7</div> <a class="btn game-move" href="#">Ход 7 <small>50</small></a>
        </div>
      </div>
    </div>
    <!--.navbar-footer-->
    
    <div class="tabs">
      <ul>
        <li class="active"><a href="#">Компания</a>
        </li>
        <li><a href="#">Рынок</a>
        </li>
        <li><a href="#">Новости</a>
        </li>
      </ul>
    </div>
    <!--.tabs-->
    <div class="subtabs">
      <ul>
        <li class="false"><a href="#">Производство</a></li>
        <li class="false"><a href="#">Маркетинг</a></li>
        <li class="false"><a href="#">Финансы</a></li>
        <li class="-active"><a href="#">Персонал</a>
          <ul>
            <li><a href="#">Item A</a>
            </li>
            <li><a href="#">Item B</a>
            </li>
            <li><a href="#">Item C</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!--.subtabs-->
    <h1>Организационная структура</h1>
    <div class="container">
      <div class="panel -btn-panel -light">
        <div class="pull-right"> <a class="btn -blue" href="#">Найм</a>  <a class="btn -red -disabled" href="#"><i class="icon -door-open"></i> Уволить</a>
        </div>
        <div class="btn-group"> <a class="btn -staff -dark -boss" href="#">Директор  <span class="label -grey">0</span></a> <a class="btn -dark" href="#"><i class="icon -plus"></i></a>
        </div>
        <div class="btn-group"> <a class="btn -staff -dark -recruitment" href="#">Кадровик  <span class="label -grey">0</span></a> <a class="btn -dark" href="#"><i class="icon -plus"></i></a>
        </div>
        <div class="btn-group"> <a class="btn -staff -dark -worker" href="#">Рабочий  <span class="label -grey">0</span></a> <a class="btn -dark" href="#"><i class="icon -plus"></i></a>
        </div>
      </div>
      <script>
        var init_slider = function(){
        	$('.modal-slider', this.container).bxSlider({
        		slideWidth: 180,
        		minSlides: 2,
        		maxSlides: 3,
        		slideMargin: 10
        	});
        };
        
      </script>
      <div class="row-3">
        <div class="col-3 tablet-hide"></div>
        <div class="col-6 tablet-wide">
          <h2>Генеральный директор</h2>
          <div class="panel -dark -staff"><img src="../img/icons-140/boss-7.png" alt=""/>
            <div class="panel-controls"><a onclick="return modal.open(&quot;#modal_boss&quot;, init_slider);" href="#"><i class="icon -info"></i></a> <a href="#"><i class="icon -improvement"></i></a> <a href="#"><i class="icon -reload"></i></a>
            </div>
            <ul class="info">
              <li>
                <div class="btn-group -wide"> <a class="btn -red -wide" href="#">Иван Петров</a> <a class="btn -red -float" href="#"><i class="icon -tick"></i></a>
                </div>
              </li>
              <li>
                <div class="progress-bar">
                  <div style="width:50%" class="progress -red"></div>
                  <div class="text">Лидерство
                  </div>
                  <div class="percents">12
                  </div>
                </div>
              </li>
              <li>
                <div class="progress-bar">
                  <div style="width:15%" class="progress -red"></div>
                  <div class="text">Трудоспособность
                  </div>
                  <div class="percents">3
                  </div>
                </div>
              </li>
              <li>
                <div class="progress-bar">
                  <div style="width:35%" class="progress -red"></div>
                  <div class="text">Мастерство
                  </div>
                  <div class="percents">8
                  </div>
                </div>
              </li>
              <li>
                <div class="progress-bar">
                  <div style="width:85%" class="progress -red"></div>
                  <div class="text">Ответственность
                  </div>
                  <div class="percents">21
                  </div>
                </div>
              </li>
              <li>
                <div class="progress-bar">
                  <div style="width:27%" class="progress -red"></div>
                  <div class="text">Везени
                  </div>
                  <div class="percents">6
                  </div>
                </div>
              </li>
              <li>
                <dl>
                  <dt>Зарплата</dt>
                  <dd><span class="price">300 000</span>
                  </dd>
                </dl>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row-2">
        <div class="col panel -dark-trans -thumb">
          <div class="panel-header">Отдел кадров</div>
          <div class="panel -dark -staff"><img src="../img/icons-140/boss.png" alt=""/><a href="#"><i class="icon -info"></i></a>
            <ul class="info">
              <li> <a class="btn -blue -wide" href="#">Директора</a>
              </li>
              <li>
                <div class="progress-bar">
                  <div style="width:50%" class="progress -blue"></div>
                  <div class="text">Лидерство
                  </div>
                  <div class="percents">12
                  </div>
                </div>
              </li>
              <li>
                <div class="progress-bar">
                  <div style="width:15%" class="progress -blue"></div>
                  <div class="text">Трудоспособность
                  </div>
                  <div class="percents">3
                  </div>
                </div>
              </li>
              <li>
                <div class="progress-bar">
                  <div style="width:35%" class="progress -blue"></div>
                  <div class="text">Мастерство
                  </div>
                  <div class="percents">8
                  </div>
                </div>
              </li>
              <li>
                <div class="progress-bar">
                  <div style="width:85%" class="progress -blue"></div>
                  <div class="text">Ответственность
                  </div>
                  <div class="percents">21
                  </div>
                </div>
              </li>
              <li>
                <div class="progress-bar">
                  <div style="width:27%" class="progress -blue"></div>
                  <div class="text">Везение
                  </div>
                  <div class="percents">6
                  </div>
                </div>
              </li>
              <li>
                <dl>
                  <dt>Зарплата</dt>
                  <dd><span class="price">80 000</span>
                  </dd>
                </dl>
              </li>
            </ul>
            <div class="footer"> <a class="btn -dark -large -staff -icon-only -boss-1" href="#"></a> <a class="btn -dark -large -staff -icon-only -boss-3" href="#"></a> <a class="btn -dark -large -staff -icon-only -boss-7" href="#"></a> <a class="btn -dark -large -staff -icon-only -boss-11" href="#"></a> <a class="btn -dark -large -staff -icon-only -boss-15" href="#"></a> <a class="btn -blue -large" href="#">Все</a>
            </div>
          </div>
          <div class="panel -dark -staff"><img src="../img/icons-140/recruitment.png" alt=""/><a href="#"><i class="icon -info"></i></a>
            <ul class="info">
              <li> <a class="btn -purple -wide" href="#">Специалист по набору</a>
              </li>
              <li>
                <div class="progress-bar">
                  <div style="width:60%" class="progress -purple"></div>
                  <div class="text">Количество
                  </div>
                  <div class="percents">6 / 10
                  </div>
                </div>
              </li>
              <li>
                <dl>
                  <dt>Зарплата</dt>
                  <dd><span class="price">450 000</span>
                  </dd>
                </dl>
              </li>
            </ul>
          </div>
          <div class="panel -dark -staff"><img src="../img/icons-140/trainer.png" alt=""/><a href="#"><i class="icon -info"></i></a>
            <ul class="info">
              <li> <a class="btn -cyan -wide" href="#">Тренер</a>
              </li>
              <li>
                <div class="progress-bar">
                  <div style="width:60%" class="progress -cyan"></div>
                  <div class="text">Количество
                  </div>
                  <div class="percents">6 / 10
                  </div>
                </div>
              </li>
              <li>
                <dl>
                  <dt>Зарплата</dt>
                  <dd><span class="price">450 000</span>
                  </dd>
                </dl>
              </li>
            </ul>
          </div>
        </div>
        <div class="col panel -dark-trans -thumb">
          <div class="panel-header">Отдел производства</div>
          <div class="panel -dark -staff"><img src="../img/icons-140/boss-15.png" alt=""/><a href="#"><i class="icon -info"></i></a>
            <ul class="info">
              <li> <a class="btn -olive -wide" href="#">Директора</a>
              </li>
              <li>
                <div class="progress-bar">
                  <div style="width:50%" class="progress -olive"></div>
                  <div class="text">Лидерство
                  </div>
                  <div class="percents">12
                  </div>
                </div>
              </li>
              <li>
                <div class="progress-bar">
                  <div style="width:15%" class="progress -olive"></div>
                  <div class="text">Трудоспособность
                  </div>
                  <div class="percents">3
                  </div>
                </div>
              </li>
              <li>
                <div class="progress-bar">
                  <div style="width:35%" class="progress -olive"></div>
                  <div class="text">Мастерство
                  </div>
                  <div class="percents">8
                  </div>
                </div>
              </li>
              <li>
                <div class="progress-bar">
                  <div style="width:85%" class="progress -olive"></div>
                  <div class="text">Ответственность
                  </div>
                  <div class="percents">21
                  </div>
                </div>
              </li>
              <li>
                <div class="progress-bar">
                  <div style="width:27%" class="progress -olive"></div>
                  <div class="text">Везение
                  </div>
                  <div class="percents">6
                  </div>
                </div>
              </li>
              <li>
                <dl>
                  <dt>Зарплата</dt>
                  <dd><span class="price">80 000</span>
                  </dd>
                </dl>
              </li>
            </ul>
            <div class="footer"> <a class="btn -dark -large -staff -icon-only -boss-15 -bg-olive" href="#"></a> <a class="btn -dark -large -staff -icon-only -boss-6" href="#"></a> <a class="btn -dark -large -staff -icon-only -boss-7" href="#"></a> <a class="btn -dark -large" href="#">Все</a>
            </div>
          </div>
          <div class="panel -dark -staff"><img src="../img/icons-140/worker.png" alt=""/><a href="#"><i class="icon -info"></i></a>
            <ul class="info">
              <li> <a class="btn -yellow -wide" href="#">Производственник</a>
              </li>
              <li>
                <div class="progress-bar">
                  <div style="width:60%" class="progress -yellow"></div>
                  <div class="text">Количество
                  </div>
                  <div class="percents">6 / 10
                  </div>
                </div>
              </li>
              <li>
                <dl>
                  <dt>Зарплата</dt>
                  <dd><span class="price">450 000</span>
                  </dd>
                </dl>
              </li>
            </ul>
          </div>
          <div class="panel -dark -staff"><img src="../img/icons-140/logistician.png" alt=""/><a href="#"><i class="icon -info"></i></a>
            <ul class="info">
              <li> <a class="btn -olive -wide" href="#">Логист</a>
              </li>
              <li>
                <div class="progress-bar">
                  <div style="width:60%" class="progress -olive"></div>
                  <div class="text">Количество
                  </div>
                  <div class="percents">6 / 10
                  </div>
                </div>
              </li>
              <li>
                <dl>
                  <dt>Зарплата</dt>
                  <dd><span class="price">450 000</span>
                  </dd>
                </dl>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      
      
    </div>
    <!--.container-->
    <div id="modal_boss" class="modal-content">
      <div class="modal-title">
        Иван Петров
        &nbsp; <span class="label -green">Генеральный директор</span> <span class="label -green -right">ЗП <span class="price">450 000</span></span>
      </div>
      <div class="modal-close"></div>
      <div class="modal-data">
        <div class="modal-slider">
          <div class="slide panel -dark">
            <div class="panel-header">Улучшение трудоспособности</div><a class="thumb" href="#"><img src="http://lorempixel.com/175/110/nightlife/8" alt="" width="175" height="110"/><span class="caption"><span class="price">3 000</span></span><span class="lock"></span></a>
          </div>
          <div class="slide panel -dark">
            <div class="panel-header">Улучшение трудоспособности</div><a class="thumb" href="#"><img src="http://lorempixel.com/175/110/technics/2" alt="" width="175" height="110"/><span class="caption"><span class="price">3 000</span></span><span class="lock"></span></a>
          </div>
          <div class="slide panel -dark">
            <div class="panel-header">Улучшение трудоспособности</div><a class="-lock thumb" href="#"><img src="http://lorempixel.com/175/110/city/6" alt="" width="175" height="110"/><span class="caption"><span class="price">3 000</span></span><span class="lock"></span></a>
          </div>
          <div class="slide panel -dark">
            <div class="panel-header">Улучшение трудоспособности</div><a class="-lock thumb" href="#"><img src="http://lorempixel.com/175/110/animals/0" alt="" width="175" height="110"/><span class="caption"><span class="price">3 000</span></span><span class="lock"></span></a>
          </div>
          <div class="slide panel -dark">
            <div class="panel-header">Улучшение трудоспособности</div><a class="-lock thumb" href="#"><img src="http://lorempixel.com/175/110/city/5" alt="" width="175" height="110"/><span class="caption"><span class="price">3 000</span></span><span class="lock"></span></a>
          </div>
          <div class="slide panel -dark">
            <div class="panel-header">Улучшение трудоспособности</div><a class="-lock thumb" href="#"><img src="http://lorempixel.com/175/110/people/1" alt="" width="175" height="110"/><span class="caption"><span class="price">3 000</span></span><span class="lock"></span></a>
          </div>
        </div>
      </div>
    </div>
    <script>modal.open("#modal_boss", init_slider);</script>
  </body>
</html>

jade/company-staff-org.jade
extends _layout

block vars
	- var title         = 'Компания / Персонал / Организационная структура'
	- var active_tab    = 'Компания'
	- var active_subtab = 'Персонал'

block content
	//- .tooltip(style='left:50%') Tooltip message
	h1
		Организационная структура

	.container


		.panel.-btn-panel.-light
			.pull-right
				+btn(class='-blue') Найм
				+space
				+btn(class='-red -disabled'): +icon('door-open', 'Уволить')
			-var staff = ['Директор', 'Кадровик', 'Рабочий']
			each item,index in ['boss', 'recruitment', 'worker']
				.btn-group
					+btn(class='-staff -dark -' + item)
						=staff[index]
						+space
						+label.-grey 0
					+btn.-dark: +icon('plus')



		script.
			var init_slider = function(){
				$('.modal-slider', this.container).bxSlider({
					slideWidth: 180,
					minSlides: 2,
					maxSlides: 3,
					slideMargin: 10
				});
			};

		.row-3
			.col-3.tablet-hide
			.col-6.tablet-wide
				h2 Генеральный директор
				+staff_panel('boss-7')
					.panel-controls
						+link(onclick='return modal.open("#modal_boss", init_slider);'): +icon('info')
						+space()
						+link: +icon('improvement')
						+space()
						+link: +icon('reload')
					ul.info
						li: .btn-group.-wide
							+btn(class='-red -wide') Иван Петров
							+btn(class='-red -float'): +icon('tick')
						li: +progress-bar(50, '-red', parseInt(25*.50)) Лидерство
						li: +progress-bar(15, '-red', parseInt(25*.15)) Трудоспособность
						li: +progress-bar(35, '-red', parseInt(25*.35)) Мастерство
						li: +progress-bar(85, '-red', parseInt(25*.85)) Ответственность
						li: +progress-bar(27, '-red', parseInt(25*.27)) Везени
						li: +dl('Зарплата'): span.price 300 000


		.row-2
			.col.panel.-dark-trans.-thumb
				.panel-header Отдел кадров

				+staff_panel('boss', {info:1})
					ul.info
						li: +btn(class='-blue -wide') Директора
						//- li: +dl('Количество'): +label-progress(1/5*100, 'light').-grey 1 / 5
						li: +progress-bar(50, '-blue', parseInt(25*.50)) Лидерство
						li: +progress-bar(15, '-blue', parseInt(25*.15)) Трудоспособность
						li: +progress-bar(35, '-blue', parseInt(25*.35)) Мастерство
						li: +progress-bar(85, '-blue', parseInt(25*.85)) Ответственность
						li: +progress-bar(27, '-blue', parseInt(25*.27)) Везение
						li: +dl('Зарплата'): span.price 80 000
					.footer
						+btn(class='-dark -large -staff -icon-only -boss-1')
						+btn(class='-dark -large -staff -icon-only -boss-3')
						+btn(class='-dark -large -staff -icon-only -boss-7')
						+btn(class='-dark -large -staff -icon-only -boss-11')
						+btn(class='-dark -large -staff -icon-only -boss-15')
						+btn(class='-blue -large') Все
					//- +link().btn_more.-blue Подробнее

				+staff_panel('recruitment', {info:1})
					ul.info
						li: +btn(class='-purple -wide') Специалист по набору
						//- li: +dl('Количество'): +label-progress(6/10*100, 'light').-grey 6 / 10
						li: +progress-bar(6/10*100, '-purple', '6 / 10') Количество
						//- li: +progress-bar(50, '-purple') Лидерство
						//- li: +progress-bar(15, '-purple') Трудоспособность
						//- li: +progress-bar(35, '-purple') Мастерство
						//- li: +progress-bar(85, '-purple') Ответственность
						//- li: +progress-bar(27, '-purple') Везение
						li: +dl('Зарплата'): span.price 450 000

				+staff_panel('trainer', {info:1})
					ul.info
						li: +btn(class='-cyan -wide') Тренер
						li: +progress-bar(6/10*100, '-cyan', '6 / 10') Количество
						//- li: +progress-bar(50, '-cyan') Лидерство
						//- li: +progress-bar(15, '-cyan') Трудоспособность
						//- li: +progress-bar(35, '-cyan') Мастерство
						//- li: +progress-bar(85, '-cyan') Ответственность
						//- li: +progress-bar(27, '-cyan') Везение
						li: +dl('Зарплата'): span.price 450 000

			.col.panel.-dark-trans.-thumb
				.panel-header Отдел производства

				+staff_panel('boss-15', {info:1})
					ul.info
						li: +btn(class='-olive -wide') Директора
						//- li: +dl('Количество'): +label-progress(1/5*100, 'light').-grey 1 / 5
						li: +progress-bar(50, '-olive', parseInt(25*.50)) Лидерство
						li: +progress-bar(15, '-olive', parseInt(25*.15)) Трудоспособность
						li: +progress-bar(35, '-olive', parseInt(25*.35)) Мастерство
						li: +progress-bar(85, '-olive', parseInt(25*.85)) Ответственность
						li: +progress-bar(27, '-olive', parseInt(25*.27)) Везение
						li: +dl('Зарплата'): span.price 80 000
					.footer
						+btn(class='-dark -large -staff -icon-only -boss-15 -bg-olive')
						+btn(class='-dark -large -staff -icon-only -boss-6')
						+btn(class='-dark -large -staff -icon-only -boss-7')
						//- +btn(class='-dark -large -staff -icon-only -boss-yellow')
						//- +btn(class='-dark -large -staff -icon-only -boss-red')
						+btn(class='-dark -large') Все
					//- +link().btn_more.-blue Подробнее

				+staff_panel('worker', {info:1})
					ul.info
						li: +btn(class='-yellow -wide') Производственник
						li: +progress-bar(6/10*100, '-yellow', '6 / 10') Количество
						//- li: +progress-bar(50, '-yellow') Лидерство
						//- li: +progress-bar(15, '-yellow') Трудоспособность
						//- li: +progress-bar(35, '-yellow') Мастерство
						//- li: +progress-bar(85, '-yellow') Ответственность
						//- li: +progress-bar(27, '-yellow') Везение
						li: +dl('Зарплата'): span.price 450 000

				+staff_panel('logistician', {info:1})
					ul.info
						li: +btn(class='-olive -wide') Логист
						li: +progress-bar(6/10*100, '-olive', '6 / 10') Количество
						//- li: +progress-bar(50, '-color-7') Лидерство
						//- li: +progress-bar(15, '-color-7') Трудоспособность
						//- li: +progress-bar(35, '-color-7') Мастерство
						//- li: +progress-bar(85, '-color-7') Ответственность
						//- li: +progress-bar(27, '-color-7') Везение
						li: +dl('Зарплата'): span.price 450 000

		//- .row-3
		//- 	-var names = ['Директор','Производство','Закупки', 'Логистика']
		//- 	//- -var icons = ['-boss','-marketer','-financier', '-manager', '-manager', '-manager']
		//- 	-each title,i in ['Директоров', 'Маркетологов', 'Финансистов', 'Кадровиков', 'Кадровиков', 'Кадровиков', 'Кадровиков']
		//- 		+eol
		//- 		div(class='-dark-trans').col.panel.-thumb.-staff-org
		//- 			.panel-header: =title
		//- 			-var locked = rand(1,3)
		//- 			-each name,j in names
		//- 				+eol
		//- 				.btn-group.-wide.-large
		//- 					+btn(class='-wide -dark -staff ' + (j ? '-worker-' + (i+1) : '-boss-' + (i+1))): =name + ': '
		//- 						+label(class='-grey'): =rand(0,5)
		//- 					+btn(class='-dark -float'): i.icon.-minus




	//.container

	#modal_boss.modal-content
		div.modal-title
			| Иван Петров
			| &nbsp;
			+label.-green Генеральный директор
			+label(class='-green -right')
				| ЗП
				+space
				span.price 450 000
			//- +label(class='-green -right') Генеральный директор
		div.modal-close
		div.modal-data
			div.modal-slider
				-var locked = rand(3,4)
				-each i in [1,2,3,4,5,6]
					.slide.panel.-dark
						.panel-header Улучшение трудоспособности
						+link(class=i>=locked?'-lock':'').thumb
							+lorem-img(175, 110)
							span.caption: span.price: |3 000
							span.lock

	script.
		modal.open("#modal_boss", init_slider);
