html/company-production-power.html

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/global.css"/>
    <link rel="stylesheet" href="../css/absolute.css"/>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.simplemodal.min.js"></script>
    <script type="text/javascript" src="../js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="../js/common.min.js"></script>
    <script src="http://gordo.st/js/global.js"></script>
    <title>Компания / Производство / Мощности
    </title>
  </head>
  <body>
    

    <div class="header">

      <div class="fixed-wrapper">

        <div class="topbar">
          <div class="container">
            <ul class="nav">
              <li><a href="company-list.html">Компании</a>
              </li>
              <li><a href="vacancy-list.html">Вакансии</a>
              </li>
            </ul>
            <ul class="nav">
              <li class="active"><a href="#bs">Бизнес Симулятор</a>
              </li>
              <li><a href="blog-list">Тусовка</a>
              </li>
            </ul>
          </div>
        </div><!-- .topbar -->


        <div class="navbar">
          <div class="container"><a class="logo" href="/"><img src="../img/navbar-logo.png" alt=""/></a><a class="logo-lion" href="/"></a>

            <div id="tray" class="tray"> <a class="btn -tooltip" href="#">15</a>
              <div class="group"> <a class="btn -white" href="#"><span class="avatar"><img src="http://lorempixel.com/30/30/abstract/4" alt="" width="30" height="30"/></span>Username</a> <a class="btn -white -compact" href="#"><i class="icon -remove-dark"></i></a>
              </div>
              <form id="navbar_search" class="form group">
                <input id="navbar_search_field" type="text" name="search"/>
                <button id="navbar_search_btn" class="btn -white"><i class="icon -search-dark"></i></button>
              </form>
            </div><!-- #tray -->


            <div id="login_form" class="form">
              <div class="wrapper">
                <div class="title">Вход / Регистрация</div>
                <table class="social">
                  <tr>
                    <td><a href="#"><i class="icon -vk"></i></a>
                    </td>
                    <td><a href="#"><i class="icon -facebook"></i></a>
                    </td>
                    <td><a href="#"><i class="icon -twitter"></i></a>
                    </td>
                    <td><a href="#"><i class="icon -linkedin"></i></a>
                    </td>
                  </tr>
                </table>
                <input placeholder="E-mail" type="text" name="email"/>
                <input placeholder="Пароль" type="password" name="password"/>
                <label class="checkbox">
                  <input type="checkbox" name="save"/><span>Запомнить</span>
                </label>
                <button class="btn -orange -right">OK</button>
                <button class="btn -link">Забыли пароль</button>
              </div>
            </div><!-- #login_form -->

          </div>
        </div><!-- .navbar -->

      </div><!-- .fixed-wrapper -->

    </div><!-- .header -->

    <div class="navbar-footer">
      <div class="container">
        <div class="ratio">38</div>
        <div class="game-progress">
          <div class="game-ratio">5K</div>
          <div class="progress-bar">
            <div style="width:75%" class="progress">300</div>
          </div>
          <div class="game-ratio-target">1000</div>
        </div>
        <div class="pull-right">
          <div class="balance">
            <div class="coin"></div>
            <div class="digit-group"><span class="digit -d5"></span><span class="digit -d2"></span><span class="digit -d0"></span></div>
            <div class="digit-group"><span class="digit -d6"></span><span class="digit -d0"></span><span class="digit -d0"></span></div>
            <div class="digit-group"><span class="digit -arrows-down"></span>
              <!--.-arrows OR .-arrows-up OR .-arrows-down-->
            </div>
          </div>
          <div onMouseOver="$(this).toggleClass(&quot;flip&quot;)" class="gold-coin">+7</div> <a class="btn game-move" href="#">Ход 7 <small>50</small></a>
        </div>
      </div>
    </div>
    <!--.navbar-footer-->
    
    <div class="tabs">
      <ul>
        <li class="active"><a href="#">Компания</a>
        </li>
        <li><a href="#">Рынок</a>
        </li>
        <li><a href="#">Новости</a>
        </li>
      </ul>
    </div>
    <!--.tabs-->
    <div class="subtabs">
      <ul>
        <li class="-active"><a href="#">Производство</a></li>
        <li class="false"><a href="#">Маркетинг</a></li>
        <li class="false"><a href="#">Финансы</a></li>
        <li class="false"><a href="#">Персонал</a>
          <ul>
            <li><a href="#">Item A</a>
            </li>
            <li><a href="#">Item B</a>
            </li>
            <li><a href="#">Item C</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!--.subtabs-->
    <h1>Мощности</h1>
    <div class="container">
      <div class="row">
        <div class="thumb -left -radius"><img src="http://lorempixel.com/200/154/technics/5" alt="" width="200" height="154"/>
        </div>
        <table class="-dark -text-middle">
          <tr>
            <td>Загрузка производства</td>
            <td>
              <color>= color || 'yellow'</color><span class="label -grey">21/100<span style="width:21%" class="elem-progress"></span></span>
            </td>
          </tr>
          <tr>
            <td>Может быть произведено текущими рабочими</td>
            <td>
              <color>= color || 'yellow'</color><span class="label -grey">0/0<span style="width:0%" class="elem-progress"></span></span>
            </td>
          </tr>
          <tr>
            <td>Загрузка склада</td>
            <td>
              <color>= color || 'yellow'</color><span class="label -grey">3/100<span style="width:3%" class="elem-progress"></span></span>
            </td>
          </tr>
          <tr>
            <td>Производственный брак</td>
            <td>
              <color>= color || 'yellow'</color><span class="label -grey">10%<span style="width:10%" class="elem-progress"></span></span>
            </td>
          </tr>
        </table>
      </div>
      <h2>Улучшения</h2>
      <div class="panel -dark-trans -thumb">
        <div class="row-4">
          <div class="col"><a class="thumb" href="#"><img src="http://lorempixel.com/175/110/abstract/4" alt="" width="175" height="110"/><span class="caption">Название курса 1</span><span class="lock"></span></a>
          </div>
          <div class="col"><a class="thumb" href="#"><img src="http://lorempixel.com/175/110/cats/5" alt="" width="175" height="110"/><span class="caption">Название курса 2</span><span class="lock"></span></a>
          </div>
          <div class="col"><a class="-lock thumb" href="#"><img src="http://lorempixel.com/175/110/city/8" alt="" width="175" height="110"/><span class="caption">Название курса 3</span><span class="lock"></span></a>
          </div>
          <div class="col"><a class="-lock thumb" href="#"><img src="http://lorempixel.com/175/110/cats/0" alt="" width="175" height="110"/><span class="caption">Название курса 4</span><span class="lock"></span></a>
          </div>
          <div class="col"><a class="-lock thumb" href="#"><img src="http://lorempixel.com/175/110/nature/7" alt="" width="175" height="110"/><span class="caption">Название курса 5</span><span class="lock"></span></a>
          </div>
          <div class="col"><a class="-lock thumb" href="#"><img src="http://lorempixel.com/175/110/people/0" alt="" width="175" height="110"/><span class="caption">Название курса 6</span><span class="lock"></span></a>
          </div>
        </div>
      </div>
    </div>
    <!--.container-->
  </body>
</html>

jade/company-production-power.jade
extends _layout

block vars
	- var title         = 'Компания / Производство / Мощности'
	- var active_tab    = 'Компания'
	- var active_subtab = 'Производство'

block content

	h1 Мощности

	.container
		.row
			.thumb.-left.-radius: +lorem-img(200, 154, 'technics')

			table.-dark.-text-middle
				tr
					td Загрузка производства
					td: +label-progress(21).-grey 21/100
				tr
					td Может быть произведено текущими рабочими
					td: +label-progress(0).-grey 0/0
				tr
					td Загрузка склада
					td: +label-progress(3).-grey 3/100
				tr
					td Производственный брак
					td: +label-progress(10).-grey 10%

		h2 Улучшения
		.panel.-dark-trans.-thumb
			.row-4
					-var locked = rand(3,4)
					-each i in [1,2,3,4,5,6]
						.col
							+link(class=i>=locked?'-lock':'').thumb
								+lorem-img(175, 110)
								span.caption: ='Название курса ' + i
								span.lock

	//.container
