html/company-production-index.html

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/global.css"/>
    <link rel="stylesheet" href="../css/absolute.css"/>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.simplemodal.min.js"></script>
    <script type="text/javascript" src="../js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="../js/common.min.js"></script>
    <script src="http://gordo.st/js/global.js"></script>
    <title>Компания / Персонал / Найм персонала
    </title>
  </head>
  <body>
    

    <div class="header">

      <div class="fixed-wrapper">

        <div class="topbar">
          <div class="container">
            <ul class="nav">
              <li><a href="company-list.html">Компании</a>
              </li>
              <li><a href="vacancy-list.html">Вакансии</a>
              </li>
            </ul>
            <ul class="nav">
              <li class="active"><a href="#bs">Бизнес Симулятор</a>
              </li>
              <li><a href="blog-list">Тусовка</a>
              </li>
            </ul>
          </div>
        </div><!-- .topbar -->


        <div class="navbar">
          <div class="container"><a class="logo" href="/"><img src="../img/navbar-logo.png" alt=""/></a><a class="logo-lion" href="/"></a>

            <div id="tray" class="tray"> <a class="btn -tooltip" href="#">15</a>
              <div class="group"> <a class="btn -white" href="#"><span class="avatar"><img src="http://lorempixel.com/30/30/abstract/3" alt="" width="30" height="30"/></span>Username</a> <a class="btn -white -compact" href="#"><i class="icon -remove-dark"></i></a>
              </div>
              <form id="navbar_search" class="form group">
                <input id="navbar_search_field" type="text" name="search"/>
                <button id="navbar_search_btn" class="btn -white"><i class="icon -search-dark"></i></button>
              </form>
            </div><!-- #tray -->


            <div id="login_form" class="form">
              <div class="wrapper">
                <div class="title">Вход / Регистрация</div>
                <table class="social">
                  <tr>
                    <td><a href="#"><i class="icon -vk"></i></a>
                    </td>
                    <td><a href="#"><i class="icon -facebook"></i></a>
                    </td>
                    <td><a href="#"><i class="icon -twitter"></i></a>
                    </td>
                    <td><a href="#"><i class="icon -linkedin"></i></a>
                    </td>
                  </tr>
                </table>
                <input placeholder="E-mail" type="text" name="email"/>
                <input placeholder="Пароль" type="password" name="password"/>
                <label class="checkbox">
                  <input type="checkbox" name="save"/><span>Запомнить</span>
                </label>
                <button class="btn -orange -right">OK</button>
                <button class="btn -link">Забыли пароль</button>
              </div>
            </div><!-- #login_form -->

          </div>
        </div><!-- .navbar -->

      </div><!-- .fixed-wrapper -->

    </div><!-- .header -->

    <div class="navbar-footer">
      <div class="container">
        <div class="ratio">38</div>
        <div class="game-progress">
          <div class="game-ratio">5K</div>
          <div class="progress-bar">
            <div style="width:75%" class="progress">300</div>
          </div>
          <div class="game-ratio-target">1000</div>
        </div>
        <div class="pull-right">
          <div class="balance">
            <div class="coin"></div>
            <div class="digit-group"><span class="digit -d5"></span><span class="digit -d2"></span><span class="digit -d0"></span></div>
            <div class="digit-group"><span class="digit -d6"></span><span class="digit -d0"></span><span class="digit -d0"></span></div>
            <div class="digit-group"><span class="digit -arrows-down"></span>
              <!--.-arrows OR .-arrows-up OR .-arrows-down-->
            </div>
          </div>
          <div onMouseOver="$(this).toggleClass(&quot;flip&quot;)" class="gold-coin">+7</div> <a class="btn game-move" href="#">Ход 7 <small>50</small></a>
        </div>
      </div>
    </div>
    <!--.navbar-footer-->
    
    <div class="tabs">
      <ul>
        <li class="active"><a href="#">Компания</a>
        </li>
        <li><a href="#">Рынок</a>
        </li>
        <li><a href="#">Новости</a>
        </li>
      </ul>
    </div>
    <!--.tabs-->
    <div class="subtabs">
      <ul>
        <li class="false"><a href="#">Производство</a></li>
        <li class="false"><a href="#">Маркетинг</a></li>
        <li class="false"><a href="#">Финансы</a></li>
        <li class="-active"><a href="#">Персонал</a>
          <ul>
            <li><a href="#">Item A</a>
            </li>
            <li><a href="#">Item B</a>
            </li>
            <li><a href="#">Item C</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!--.subtabs-->
    <h1>Производство</h1>
    <div class="container">
      <div class="row-2 panel">
        <div class="col panel -dark-trans">
          <div class="panel-header">Склад</div><img src="../img/warehouse.png" alt="" class="center"/>
          <ul class="info">
            <li>
              <div class="progress-bar">
                <div style="width:12%" class="progress -yellow"></div>
                <div class="text">Размер склада продуктов
                </div>
                <div class="percents">635 / 5000
                </div>
              </div>
            </li>
            <li>
              <div class="progress-bar">
                <div style="width:34%" class="progress -yellow"></div>
                <div class="text">Размер склада сырья
                </div>
                <div class="percents">1730 / 5000
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col panel -dark-trans">
          <div class="panel-header">Завод</div><img src="../img/factory.png" alt="" class="center"/> <span class="label -cyan -factory-power">Мощность: 3500</span>
          <ul class="info">
            <li>
              <div class="progress-bar">
                <div style="width:65%" class="progress -cyan"></div>
                <div class="text">Загрузка
                </div>
                <div class="percents">65%
                </div>
              </div>
            </li>
            <li>
              <div class="progress-bar">
                <div style="width:15%" class="progress -cyan"></div>
                <div class="text">Процент брака
                </div>
                <div class="percents">15%
                </div>
              </div>
            </li>
          </ul>
        </div><a class="btn -circle -yellow -production-btn" href="#">Войти</a>
      </div>
    </div>
    <!--.container-->
  </body>
</html>

jade/company-production-index.jade
extends _layout

block vars
	- var title         = 'Компания / Персонал / Найм персонала'
	- var active_tab    = 'Компания'
	- var active_subtab = 'Персонал'

//-------------------------------------------------------------------------

block content
	//- .tooltip(style='left:50%') Tooltip message
	h1
		Производство

	.container

		.row-2.panel

			.col.panel.-dark-trans
				.panel-header Склад
				+img('warehouse.png').center
				ul.info
					li: +progress-bar(635/5000*100, '-yellow', '635 / 5000') Размер склада продуктов
					li: +progress-bar(1730/5000*100, '-yellow', '1730 / 5000') Размер склада сырья

			.col.panel.-dark-trans
				.panel-header Завод
				+img('factory.png').center
				+label(class='-cyan -factory-power') Мощность: 3500
				ul.info
					//- li: +dl('Мощность'): +label.-yellow 3500
					//- li: +dl('Мощность') 3500
					li: +progress-bar(65, '-cyan') Загрузка
					li: +progress-bar(15, '-cyan') Процент брака

			+link(class='btn -circle -yellow -production-btn'): Войти


	//.container
