jade/company-production-resources.jade
extends _layout

block vars
	- var title         = 'Компания / Производство / Ресурсы'
	- var active_tab    = 'Компания'
	- var active_subtab = 'Производство'

	- var resources = {wand:'Палочки', cup:'Стаканчик', water:'Вода', milk:'Молоко', cream:'Сливки', shugar:'Сахар', waffle:'Вафли', strawberry:'Клубника', nuts:'Орехи', chocolate:'Шоколад'}
	- var products = ['Ванильный рожок', 'Клубничный рожок', 'Шоколадный рожок', 'Ванильный стаканчик', 'С орехами стаканчик', 'Эскимо', 'Брикет 2 вкуса', 'Ведерко с орехами']
block content



	mixin plus_minus2(color)
		.btn-group
			+btn(class='-disabled ' + color): +icon('minus')
			+btn(class=color, onclick="return modal.open('#modal_boss')") 0 / 0
			+btn(class=color): +icon('plus')

	.container

		//- table.-dark.-wide.-text-middle
		//- 	tr
		//- 		th.-compact
		//- 		th: Наименование
		//- 		th: Запасы
		//- 		th: Цена
		//- 		th(width=150): Заказать
		//- 		//- th: Поставшик
		//- 	each title, icon in resources
		//- 		tr
		//- 			td: +img('icons-40/' + icon + '.png')
		//- 			td: =title
		//- 			td: span.label.-purple: =rand(0, 100) * 10
		//- 			td: span.price 1500
		//- 			td
		//- 				.pull-right
		//- 					+plus_minus2('-grey')
		//- 			//- td
		//- 			//- 	+link: i.icon.-arrow-left
		//- 			//- 	='\nПоставщик #' + (index + 1) + '\n'
		//- 			//- 	+link: i.icon.-arrow-right

		h2 Ресурсы

		.row-5
			-var index = 0
			each title, icon in resources
				div(class=index++>5 ? 'col panel -dark resource -lock' : 'panel -dark col resource')
					//- +link().info: +icon('info')
					+label().badge.-yellow: =rand(0, 100) * 10
					.thumb.-small
						+img('icons-140/' + icon + '.png')
					.resource-title: =title

					+plus_minus2('-grey')
					.clearfix
					-var percents = index < 3 ? 0 : +rand(0,7) * 10
					.btn-group
						+btn(class='-grey', onclick="return modal.open('#modal_boss')")
							span.btn-text
								if percents
									|&nbsp;&nbsp;&nbsp;
									+label(null, 'white').-dark-trans 5:00
									|&nbsp;&nbsp;&nbsp;
								else
									span.price 1500
									+space()
									+label(null, 'white').-yellow Купить
							.elem-progress(style='width:'+percents+'%', class='-yellow')
						if percents
							+btn.-grey: +icon('remove')

		.panel.-dark-trans.-btn-panel
			.pull-right
				+btn.-dark
					span.coin
					= ' 300 000'
				+nl
				+btn.-blue 	Купить

		hr

		h2 Производство

		.row-2
			each title, index in products
				div(class=index>5 ? 'col panel -dark resource -lock' : 'panel -dark col resource')
					+link().info: +icon('info')
					+label().badge.-yellow: =rand(0, 100) * 10
					.thumb
						+img('icons-140/icecream-' + (index + 1) + '.png')

					.resource-title: =title

					.resources.panel.-dark-trans
						each title, icon in resources
							if +rand(0, 10) > 5
								span.res
									+img('icons-40/'+icon+'.png')
									span.count: =rand(1,100)

					+plus_minus2('-grey')

					-var percents = index < 3 ? 0 : +rand(0,7) * 10
					.btn-group
						+btn(class='-grey', onclick="return modal.open('#modal_boss')")
							span.btn-text
								if percents
									|&nbsp;&nbsp;&nbsp;
									+label(null, 'white').-dark-trans 5:00
									|&nbsp;&nbsp;&nbsp;
								else
									span.price 1500
									+space()
									+label(null, 'white').-yellow Купить
							.elem-progress(style='width:'+percents+'%', class='-yellow')
						if percents
							+btn.-grey: +icon('remove')

		.panel.-dark-trans.-btn-panel
			.pull-right
				+btn.-dark
					span.coin
					= ' 300 000'
				+nl
				+btn.-blue 	Купить

		hr

		h2 Продажа

		.row-2
			.panel.col.-dark.-staff
				+img('icons-140/icecream-1.png').thumb
				ul.info
					li Ванильный рожок
					li: +dl('Количество') 150
					li: +dl('Цена'): span.price 80 000
					li: +btn.-red Продать
			.panel.col.-dark.-staff
				+img('icons-140/icecream-6.png').thumb
				ul.info
					li Эскимо
					li: +dl('Количество') 420
					li: +dl('Цена'): span.price 80 000
					li: +btn.-red Продать

	//.container

html/company-production-resources.html

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/global.css"/>
    <link rel="stylesheet" href="../css/absolute.css"/>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.simplemodal.min.js"></script>
    <script type="text/javascript" src="../js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="../js/common.min.js"></script>
    <script src="http://gordo.st/js/global.js"></script>
    <title>Компания / Производство / Ресурсы
    </title>
  </head>
  <body>
    

    <div class="header">

      <div class="fixed-wrapper">

        <div class="topbar">
          <div class="container">
            <ul class="nav">
              <li><a href="company-list.html">Компании</a>
              </li>
              <li><a href="vacancy-list.html">Вакансии</a>
              </li>
            </ul>
            <ul class="nav">
              <li class="active"><a href="#bs">Бизнес Симулятор</a>
              </li>
              <li><a href="blog-list">Тусовка</a>
              </li>
            </ul>
          </div>
        </div><!-- .topbar -->


        <div class="navbar">
          <div class="container"><a class="logo" href="/"><img src="../img/navbar-logo.png" alt=""/></a><a class="logo-lion" href="/"></a>

            <div id="tray" class="tray"> <a class="btn -tooltip" href="#">15</a>
              <div class="group"> <a class="btn -white" href="#"><span class="avatar"><img src="http://lorempixel.com/30/30/abstract/2" alt="" width="30" height="30"/></span>Username</a> <a class="btn -white -compact" href="#"><i class="icon -remove-dark"></i></a>
              </div>
              <form id="navbar_search" class="form group">
                <input id="navbar_search_field" type="text" name="search"/>
                <button id="navbar_search_btn" class="btn -white"><i class="icon -search-dark"></i></button>
              </form>
            </div><!-- #tray -->


            <div id="login_form" class="form">
              <div class="wrapper">
                <div class="title">Вход / Регистрация</div>
                <table class="social">
                  <tr>
                    <td><a href="#"><i class="icon -vk"></i></a>
                    </td>
                    <td><a href="#"><i class="icon -facebook"></i></a>
                    </td>
                    <td><a href="#"><i class="icon -twitter"></i></a>
                    </td>
                    <td><a href="#"><i class="icon -linkedin"></i></a>
                    </td>
                  </tr>
                </table>
                <input placeholder="E-mail" type="text" name="email"/>
                <input placeholder="Пароль" type="password" name="password"/>
                <label class="checkbox">
                  <input type="checkbox" name="save"/><span>Запомнить</span>
                </label>
                <button class="btn -orange -right">OK</button>
                <button class="btn -link">Забыли пароль</button>
              </div>
            </div><!-- #login_form -->

          </div>
        </div><!-- .navbar -->

      </div><!-- .fixed-wrapper -->

    </div><!-- .header -->

    <div class="navbar-footer">
      <div class="container">
        <div class="ratio">38</div>
        <div class="game-progress">
          <div class="game-ratio">5K</div>
          <div class="progress-bar">
            <div style="width:75%" class="progress">300</div>
          </div>
          <div class="game-ratio-target">1000</div>
        </div>
        <div class="pull-right">
          <div class="balance">
            <div class="coin"></div>
            <div class="digit-group"><span class="digit -d5"></span><span class="digit -d2"></span><span class="digit -d0"></span></div>
            <div class="digit-group"><span class="digit -d6"></span><span class="digit -d0"></span><span class="digit -d0"></span></div>
            <div class="digit-group"><span class="digit -arrows-down"></span>
              <!--.-arrows OR .-arrows-up OR .-arrows-down-->
            </div>
          </div>
          <div onMouseOver="$(this).toggleClass(&quot;flip&quot;)" class="gold-coin">+7</div> <a class="btn game-move" href="#">Ход 7 <small>50</small></a>
        </div>
      </div>
    </div>
    <!--.navbar-footer-->
    
    <div class="tabs">
      <ul>
        <li class="active"><a href="#">Компания</a>
        </li>
        <li><a href="#">Рынок</a>
        </li>
        <li><a href="#">Новости</a>
        </li>
      </ul>
    </div>
    <!--.tabs-->
    <div class="subtabs">
      <ul>
        <li class="-active"><a href="#">Производство</a></li>
        <li class="false"><a href="#">Маркетинг</a></li>
        <li class="false"><a href="#">Финансы</a></li>
        <li class="false"><a href="#">Персонал</a>
          <ul>
            <li><a href="#">Item A</a>
            </li>
            <li><a href="#">Item B</a>
            </li>
            <li><a href="#">Item C</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!--.subtabs-->
    <div class="container">
      <h2>Ресурсы</h2>
      <div class="row-5">
        <div class="panel -dark col resource"> <span class="label badge -yellow">430</span>
          <div class="thumb -small"><img src="../img/icons-140/wand.png" alt=""/>
          </div>
          <div class="resource-title">Палочки
          </div>
              <div class="btn-group"> <a class="btn -disabled -grey" href="#"><i class="icon -minus"></i></a> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#">0 / 0</a> <a class="btn -grey" href="#"><i class="icon -plus"></i></a>
              </div>
          <div class="clearfix"></div>
          <div class="btn-group"> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#"><span class="btn-text"><span class="price">1500</span>  <span class="label -yellow">Купить</span></span>
              <div style="width:0%" class="elem-progress -yellow"></div></a>
          </div>
        </div>
        <div class="panel -dark col resource"> <span class="label badge -yellow">480</span>
          <div class="thumb -small"><img src="../img/icons-140/cup.png" alt=""/>
          </div>
          <div class="resource-title">Стаканчик
          </div>
              <div class="btn-group"> <a class="btn -disabled -grey" href="#"><i class="icon -minus"></i></a> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#">0 / 0</a> <a class="btn -grey" href="#"><i class="icon -plus"></i></a>
              </div>
          <div class="clearfix"></div>
          <div class="btn-group"> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#"><span class="btn-text"><span class="price">1500</span>  <span class="label -yellow">Купить</span></span>
              <div style="width:0%" class="elem-progress -yellow"></div></a>
          </div>
        </div>
        <div class="panel -dark col resource"> <span class="label badge -yellow">610</span>
          <div class="thumb -small"><img src="../img/icons-140/water.png" alt=""/>
          </div>
          <div class="resource-title">Вода
          </div>
              <div class="btn-group"> <a class="btn -disabled -grey" href="#"><i class="icon -minus"></i></a> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#">0 / 0</a> <a class="btn -grey" href="#"><i class="icon -plus"></i></a>
              </div>
          <div class="clearfix"></div>
          <div class="btn-group"> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#"><span class="btn-text">&nbsp;&nbsp;&nbsp; <span class="label -dark-trans">5:00</span>&nbsp;&nbsp;&nbsp;</span>
              <div style="width:60%" class="elem-progress -yellow"></div></a> <a class="btn -grey" href="#"><i class="icon -remove"></i></a>
          </div>
        </div>
        <div class="panel -dark col resource"> <span class="label badge -yellow">720</span>
          <div class="thumb -small"><img src="../img/icons-140/milk.png" alt=""/>
          </div>
          <div class="resource-title">Молоко
          </div>
              <div class="btn-group"> <a class="btn -disabled -grey" href="#"><i class="icon -minus"></i></a> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#">0 / 0</a> <a class="btn -grey" href="#"><i class="icon -plus"></i></a>
              </div>
          <div class="clearfix"></div>
          <div class="btn-group"> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#"><span class="btn-text">&nbsp;&nbsp;&nbsp; <span class="label -dark-trans">5:00</span>&nbsp;&nbsp;&nbsp;</span>
              <div style="width:20%" class="elem-progress -yellow"></div></a> <a class="btn -grey" href="#"><i class="icon -remove"></i></a>
          </div>
        </div>
        <div class="panel -dark col resource"> <span class="label badge -yellow">220</span>
          <div class="thumb -small"><img src="../img/icons-140/cream.png" alt=""/>
          </div>
          <div class="resource-title">Сливки
          </div>
              <div class="btn-group"> <a class="btn -disabled -grey" href="#"><i class="icon -minus"></i></a> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#">0 / 0</a> <a class="btn -grey" href="#"><i class="icon -plus"></i></a>
              </div>
          <div class="clearfix"></div>
          <div class="btn-group"> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#"><span class="btn-text">&nbsp;&nbsp;&nbsp; <span class="label -dark-trans">5:00</span>&nbsp;&nbsp;&nbsp;</span>
              <div style="width:20%" class="elem-progress -yellow"></div></a> <a class="btn -grey" href="#"><i class="icon -remove"></i></a>
          </div>
        </div>
        <div class="panel -dark col resource"> <span class="label badge -yellow">270</span>
          <div class="thumb -small"><img src="../img/icons-140/shugar.png" alt=""/>
          </div>
          <div class="resource-title">Сахар
          </div>
              <div class="btn-group"> <a class="btn -disabled -grey" href="#"><i class="icon -minus"></i></a> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#">0 / 0</a> <a class="btn -grey" href="#"><i class="icon -plus"></i></a>
              </div>
          <div class="clearfix"></div>
          <div class="btn-group"> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#"><span class="btn-text">&nbsp;&nbsp;&nbsp; <span class="label -dark-trans">5:00</span>&nbsp;&nbsp;&nbsp;</span>
              <div style="width:50%" class="elem-progress -yellow"></div></a> <a class="btn -grey" href="#"><i class="icon -remove"></i></a>
          </div>
        </div>
        <div class="col panel -dark resource -lock"> <span class="label badge -yellow">830</span>
          <div class="thumb -small"><img src="../img/icons-140/waffle.png" alt=""/>
          </div>
          <div class="resource-title">Вафли
          </div>
              <div class="btn-group"> <a class="btn -disabled -grey" href="#"><i class="icon -minus"></i></a> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#">0 / 0</a> <a class="btn -grey" href="#"><i class="icon -plus"></i></a>
              </div>
          <div class="clearfix"></div>
          <div class="btn-group"> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#"><span class="btn-text">&nbsp;&nbsp;&nbsp; <span class="label -dark-trans">5:00</span>&nbsp;&nbsp;&nbsp;</span>
              <div style="width:20%" class="elem-progress -yellow"></div></a> <a class="btn -grey" href="#"><i class="icon -remove"></i></a>
          </div>
        </div>
        <div class="col panel -dark resource -lock"> <span class="label badge -yellow">340</span>
          <div class="thumb -small"><img src="../img/icons-140/strawberry.png" alt=""/>
          </div>
          <div class="resource-title">Клубника
          </div>
              <div class="btn-group"> <a class="btn -disabled -grey" href="#"><i class="icon -minus"></i></a> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#">0 / 0</a> <a class="btn -grey" href="#"><i class="icon -plus"></i></a>
              </div>
          <div class="clearfix"></div>
          <div class="btn-group"> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#"><span class="btn-text">&nbsp;&nbsp;&nbsp; <span class="label -dark-trans">5:00</span>&nbsp;&nbsp;&nbsp;</span>
              <div style="width:40%" class="elem-progress -yellow"></div></a> <a class="btn -grey" href="#"><i class="icon -remove"></i></a>
          </div>
        </div>
        <div class="col panel -dark resource -lock"> <span class="label badge -yellow">570</span>
          <div class="thumb -small"><img src="../img/icons-140/nuts.png" alt=""/>
          </div>
          <div class="resource-title">Орехи
          </div>
              <div class="btn-group"> <a class="btn -disabled -grey" href="#"><i class="icon -minus"></i></a> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#">0 / 0</a> <a class="btn -grey" href="#"><i class="icon -plus"></i></a>
              </div>
          <div class="clearfix"></div>
          <div class="btn-group"> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#"><span class="btn-text">&nbsp;&nbsp;&nbsp; <span class="label -dark-trans">5:00</span>&nbsp;&nbsp;&nbsp;</span>
              <div style="width:70%" class="elem-progress -yellow"></div></a> <a class="btn -grey" href="#"><i class="icon -remove"></i></a>
          </div>
        </div>
        <div class="col panel -dark resource -lock"> <span class="label badge -yellow">380</span>
          <div class="thumb -small"><img src="../img/icons-140/chocolate.png" alt=""/>
          </div>
          <div class="resource-title">Шоколад
          </div>
              <div class="btn-group"> <a class="btn -disabled -grey" href="#"><i class="icon -minus"></i></a> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#">0 / 0</a> <a class="btn -grey" href="#"><i class="icon -plus"></i></a>
              </div>
          <div class="clearfix"></div>
          <div class="btn-group"> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#"><span class="btn-text">&nbsp;&nbsp;&nbsp; <span class="label -dark-trans">5:00</span>&nbsp;&nbsp;&nbsp;</span>
              <div style="width:40%" class="elem-progress -yellow"></div></a> <a class="btn -grey" href="#"><i class="icon -remove"></i></a>
          </div>
        </div>
      </div>
      <div class="panel -dark-trans -btn-panel">
        <div class="pull-right"> <a class="btn -dark" href="#"><span class="coin"></span> 300 000</a>
 <a class="btn -blue" href="#">	Купить</a>
        </div>
      </div>
      <hr>
      <h2>Производство</h2>
      <div class="row-2">
        <div class="panel -dark col resource"><a class="info" href="#"><i class="icon -info"></i></a> <span class="label badge -yellow">140</span>
          <div class="thumb"><img src="../img/icons-140/icecream-1.png" alt=""/>
          </div>
          <div class="resource-title">Ванильный рожок
          </div>
          <div class="resources panel -dark-trans"><span class="res"><img src="../img/icons-40/cup.png" alt=""/><span class="count">90</span></span><span class="res"><img src="../img/icons-40/shugar.png" alt=""/><span class="count">28</span></span><span class="res"><img src="../img/icons-40/waffle.png" alt=""/><span class="count">5</span></span>
          </div>
              <div class="btn-group"> <a class="btn -disabled -grey" href="#"><i class="icon -minus"></i></a> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#">0 / 0</a> <a class="btn -grey" href="#"><i class="icon -plus"></i></a>
              </div>
          <div class="btn-group"> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#"><span class="btn-text"><span class="price">1500</span>  <span class="label -yellow">Купить</span></span>
              <div style="width:0%" class="elem-progress -yellow"></div></a>
          </div>
        </div>
        <div class="panel -dark col resource"><a class="info" href="#"><i class="icon -info"></i></a> <span class="label badge -yellow">350</span>
          <div class="thumb"><img src="../img/icons-140/icecream-2.png" alt=""/>
          </div>
          <div class="resource-title">Клубничный рожок
          </div>
          <div class="resources panel -dark-trans"><span class="res"><img src="../img/icons-40/wand.png" alt=""/><span class="count">64</span></span><span class="res"><img src="../img/icons-40/cream.png" alt=""/><span class="count">63</span></span><span class="res"><img src="../img/icons-40/shugar.png" alt=""/><span class="count">54</span></span><span class="res"><img src="../img/icons-40/nuts.png" alt=""/><span class="count">4</span></span>
          </div>
              <div class="btn-group"> <a class="btn -disabled -grey" href="#"><i class="icon -minus"></i></a> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#">0 / 0</a> <a class="btn -grey" href="#"><i class="icon -plus"></i></a>
              </div>
          <div class="btn-group"> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#"><span class="btn-text"><span class="price">1500</span>  <span class="label -yellow">Купить</span></span>
              <div style="width:0%" class="elem-progress -yellow"></div></a>
          </div>
        </div>
        <div class="panel -dark col resource"><a class="info" href="#"><i class="icon -info"></i></a> <span class="label badge -yellow">120</span>
          <div class="thumb"><img src="../img/icons-140/icecream-3.png" alt=""/>
          </div>
          <div class="resource-title">Шоколадный рожок
          </div>
          <div class="resources panel -dark-trans"><span class="res"><img src="../img/icons-40/wand.png" alt=""/><span class="count">28</span></span><span class="res"><img src="../img/icons-40/cup.png" alt=""/><span class="count">47</span></span><span class="res"><img src="../img/icons-40/water.png" alt=""/><span class="count">42</span></span><span class="res"><img src="../img/icons-40/milk.png" alt=""/><span class="count">23</span></span><span class="res"><img src="../img/icons-40/shugar.png" alt=""/><span class="count">81</span></span><span class="res"><img src="../img/icons-40/strawberry.png" alt=""/><span class="count">55</span></span><span class="res"><img src="../img/icons-40/nuts.png" alt=""/><span class="count">44</span></span><span class="res"><img src="../img/icons-40/chocolate.png" alt=""/><span class="count">85</span></span>
          </div>
              <div class="btn-group"> <a class="btn -disabled -grey" href="#"><i class="icon -minus"></i></a> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#">0 / 0</a> <a class="btn -grey" href="#"><i class="icon -plus"></i></a>
              </div>
          <div class="btn-group"> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#"><span class="btn-text"><span class="price">1500</span>  <span class="label -yellow">Купить</span></span>
              <div style="width:0%" class="elem-progress -yellow"></div></a>
          </div>
        </div>
        <div class="panel -dark col resource"><a class="info" href="#"><i class="icon -info"></i></a> <span class="label badge -yellow">0</span>
          <div class="thumb"><img src="../img/icons-140/icecream-4.png" alt=""/>
          </div>
          <div class="resource-title">Ванильный стаканчик
          </div>
          <div class="resources panel -dark-trans"><span class="res"><img src="../img/icons-40/wand.png" alt=""/><span class="count">73</span></span><span class="res"><img src="../img/icons-40/cream.png" alt=""/><span class="count">71</span></span><span class="res"><img src="../img/icons-40/nuts.png" alt=""/><span class="count">97</span></span>
          </div>
              <div class="btn-group"> <a class="btn -disabled -grey" href="#"><i class="icon -minus"></i></a> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#">0 / 0</a> <a class="btn -grey" href="#"><i class="icon -plus"></i></a>
              </div>
          <div class="btn-group"> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#"><span class="btn-text">&nbsp;&nbsp;&nbsp; <span class="label -dark-trans">5:00</span>&nbsp;&nbsp;&nbsp;</span>
              <div style="width:10%" class="elem-progress -yellow"></div></a> <a class="btn -grey" href="#"><i class="icon -remove"></i></a>
          </div>
        </div>
        <div class="panel -dark col resource"><a class="info" href="#"><i class="icon -info"></i></a> <span class="label badge -yellow">10</span>
          <div class="thumb"><img src="../img/icons-140/icecream-5.png" alt=""/>
          </div>
          <div class="resource-title">С орехами стаканчик
          </div>
          <div class="resources panel -dark-trans"><span class="res"><img src="../img/icons-40/milk.png" alt=""/><span class="count">49</span></span><span class="res"><img src="../img/icons-40/cream.png" alt=""/><span class="count">16</span></span><span class="res"><img src="../img/icons-40/shugar.png" alt=""/><span class="count">100</span></span><span class="res"><img src="../img/icons-40/nuts.png" alt=""/><span class="count">89</span></span><span class="res"><img src="../img/icons-40/chocolate.png" alt=""/><span class="count">40</span></span>
          </div>
              <div class="btn-group"> <a class="btn -disabled -grey" href="#"><i class="icon -minus"></i></a> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#">0 / 0</a> <a class="btn -grey" href="#"><i class="icon -plus"></i></a>
              </div>
          <div class="btn-group"> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#"><span class="btn-text">&nbsp;&nbsp;&nbsp; <span class="label -dark-trans">5:00</span>&nbsp;&nbsp;&nbsp;</span>
              <div style="width:10%" class="elem-progress -yellow"></div></a> <a class="btn -grey" href="#"><i class="icon -remove"></i></a>
          </div>
        </div>
        <div class="panel -dark col resource"><a class="info" href="#"><i class="icon -info"></i></a> <span class="label badge -yellow">0</span>
          <div class="thumb"><img src="../img/icons-140/icecream-6.png" alt=""/>
          </div>
          <div class="resource-title">Эскимо
          </div>
          <div class="resources panel -dark-trans"><span class="res"><img src="../img/icons-40/cup.png" alt=""/><span class="count">67</span></span><span class="res"><img src="../img/icons-40/water.png" alt=""/><span class="count">36</span></span><span class="res"><img src="../img/icons-40/milk.png" alt=""/><span class="count">94</span></span><span class="res"><img src="../img/icons-40/shugar.png" alt=""/><span class="count">56</span></span><span class="res"><img src="../img/icons-40/nuts.png" alt=""/><span class="count">12</span></span>
          </div>
              <div class="btn-group"> <a class="btn -disabled -grey" href="#"><i class="icon -minus"></i></a> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#">0 / 0</a> <a class="btn -grey" href="#"><i class="icon -plus"></i></a>
              </div>
          <div class="btn-group"> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#"><span class="btn-text"><span class="price">1500</span>  <span class="label -yellow">Купить</span></span>
              <div style="width:0%" class="elem-progress -yellow"></div></a>
          </div>
        </div>
        <div class="col panel -dark resource -lock"><a class="info" href="#"><i class="icon -info"></i></a> <span class="label badge -yellow">710</span>
          <div class="thumb"><img src="../img/icons-140/icecream-7.png" alt=""/>
          </div>
          <div class="resource-title">Брикет 2 вкуса
          </div>
          <div class="resources panel -dark-trans"><span class="res"><img src="../img/icons-40/cup.png" alt=""/><span class="count">16</span></span><span class="res"><img src="../img/icons-40/milk.png" alt=""/><span class="count">53</span></span><span class="res"><img src="../img/icons-40/cream.png" alt=""/><span class="count">31</span></span><span class="res"><img src="../img/icons-40/shugar.png" alt=""/><span class="count">95</span></span><span class="res"><img src="../img/icons-40/waffle.png" alt=""/><span class="count">53</span></span><span class="res"><img src="../img/icons-40/nuts.png" alt=""/><span class="count">96</span></span>
          </div>
              <div class="btn-group"> <a class="btn -disabled -grey" href="#"><i class="icon -minus"></i></a> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#">0 / 0</a> <a class="btn -grey" href="#"><i class="icon -plus"></i></a>
              </div>
          <div class="btn-group"> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#"><span class="btn-text">&nbsp;&nbsp;&nbsp; <span class="label -dark-trans">5:00</span>&nbsp;&nbsp;&nbsp;</span>
              <div style="width:50%" class="elem-progress -yellow"></div></a> <a class="btn -grey" href="#"><i class="icon -remove"></i></a>
          </div>
        </div>
        <div class="col panel -dark resource -lock"><a class="info" href="#"><i class="icon -info"></i></a> <span class="label badge -yellow">900</span>
          <div class="thumb"><img src="../img/icons-140/icecream-8.png" alt=""/>
          </div>
          <div class="resource-title">Ведерко с орехами
          </div>
          <div class="resources panel -dark-trans"><span class="res"><img src="../img/icons-40/milk.png" alt=""/><span class="count">8</span></span><span class="res"><img src="../img/icons-40/nuts.png" alt=""/><span class="count">81</span></span>
          </div>
              <div class="btn-group"> <a class="btn -disabled -grey" href="#"><i class="icon -minus"></i></a> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#">0 / 0</a> <a class="btn -grey" href="#"><i class="icon -plus"></i></a>
              </div>
          <div class="btn-group"> <a onclick="return modal.open('#modal_boss')" class="btn -grey" href="#"><span class="btn-text">&nbsp;&nbsp;&nbsp; <span class="label -dark-trans">5:00</span>&nbsp;&nbsp;&nbsp;</span>
              <div style="width:20%" class="elem-progress -yellow"></div></a> <a class="btn -grey" href="#"><i class="icon -remove"></i></a>
          </div>
        </div>
      </div>
      <div class="panel -dark-trans -btn-panel">
        <div class="pull-right"> <a class="btn -dark" href="#"><span class="coin"></span> 300 000</a>
 <a class="btn -blue" href="#">	Купить</a>
        </div>
      </div>
      <hr>
      <h2>Продажа</h2>
      <div class="row-2">
        <div class="panel col -dark -staff"><img src="../img/icons-140/icecream-1.png" alt="" class="thumb"/>
          <ul class="info">
            <li>Ванильный рожок</li>
            <li>
              <dl>
                <dt>Количество</dt>
                <dd>150
                </dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>Цена</dt>
                <dd><span class="price">80 000</span>
                </dd>
              </dl>
            </li>
            <li> <a class="btn -red" href="#">Продать</a>
            </li>
          </ul>
        </div>
        <div class="panel col -dark -staff"><img src="../img/icons-140/icecream-6.png" alt="" class="thumb"/>
          <ul class="info">
            <li>Эскимо</li>
            <li>
              <dl>
                <dt>Количество</dt>
                <dd>420
                </dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>Цена</dt>
                <dd><span class="price">80 000</span>
                </dd>
              </dl>
            </li>
            <li> <a class="btn -red" href="#">Продать</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--.container-->
  </body>
</html>
