jade/global-news.jade
extends _layout
//- extends _layout_global

mixin news-row()
	- var imgs = ['wand', 'cup', 'water', 'milk', 'cream', 'shugar', 'waffle', 'strawberry', 'nuts', 'chocolate']
	- attributes.class = ('class' in attributes ? attributes.class + ' ' : '') + 'news-row'
	div&attributes(attributes)
		.thumb: +lorem-img(140,140)
		h3 Экспериментальный анализ рыночных цен

		table.table.table-list
			tr
				th Колическтво
				td 100
			tr
				th Цена
				td: span.price 10 000

		.pull-right
			.btn.-lighten Button
			.btn.-orange Купить

block content

	.container

		h1 Новости

		.news
			.news-row
				a.btn-close
				.thumb: +lorem-img(140,140)
				h3 Экспериментальный анализ рыночных цен

				p Воздействие на потребителя, согласно Ф.Котлеру, экономит общественный социальный статус, оптимизируя бюджеты.

				//- table.table.table-list
				//- 	tr
				//- 		th Колическтво
				//- 		td 100
				//- 	tr
				//- 		th Цена
				//- 		td: span.price 10 000

				.pull-right
					.btn.-unhover.-flat.-lighten Колическтво
						+space
						span.label 100
					.btn.-unhover.-flat.-lighten Цена
						+space
						span.price 10 000
					a.btn.-orange Продать
						+space
						span.label 12:00
		.news
			.news-row
				a.btn-close
				.thumb: +lorem-img(140,140)
				h3 Экспериментальный анализ рыночных цен

				//- p Воздействие на потребителя, согласно Ф.Котлеру, экономит общественный социальный статус, оптимизируя бюджеты.

				table.table.table-list
					tr
						th Другой параметр
						td: .label.-red 1 000 000
					tr
						th Колическтво
						td: .label.-green 100
					tr
						th Цена
						td: span.price 10 000

				.pull-right

					a.btn.-grey Купить
						+space
						span.label.-orange 12:00

html/global-news.html

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/global.css"/>
    <link rel="stylesheet" href="../css/absolute.css"/>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.simplemodal.min.js"></script>
    <script type="text/javascript" src="../js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="../js/common.min.js"></script>
    <script src="http://gordo.st/js/global.js"></script>
    <title>Гордость
    </title>
  </head>
  <body>
    

    <div class="header">

      <div class="fixed-wrapper">

        <div class="topbar">
          <div class="container">
            <ul class="nav">
              <li><a href="company-list.html">Компании</a>
              </li>
              <li><a href="vacancy-list.html">Вакансии</a>
              </li>
            </ul>
            <ul class="nav">
              <li class="active"><a href="#bs">Бизнес Симулятор</a>
              </li>
              <li><a href="blog-list">Тусовка</a>
              </li>
            </ul>
          </div>
        </div><!-- .topbar -->


        <div class="navbar">
          <div class="container"><a class="logo" href="/"><img src="../img/navbar-logo.png" alt=""/></a><a class="logo-lion" href="/"></a>

            <div id="tray" class="tray"> <a class="btn -tooltip" href="#">15</a>
              <div class="group"> <a class="btn -white" href="#"><span class="avatar"><img src="http://lorempixel.com/30/30/abstract/1" alt="" width="30" height="30"/></span>Username</a> <a class="btn -white -compact" href="#"><i class="icon -remove-dark"></i></a>
              </div>
              <form id="navbar_search" class="form group">
                <input id="navbar_search_field" type="text" name="search"/>
                <button id="navbar_search_btn" class="btn -white"><i class="icon -search-dark"></i></button>
              </form>
            </div><!-- #tray -->


            <div id="login_form" class="form">
              <div class="wrapper">
                <div class="title">Вход / Регистрация</div>
                <table class="social">
                  <tr>
                    <td><a href="#"><i class="icon -vk"></i></a>
                    </td>
                    <td><a href="#"><i class="icon -facebook"></i></a>
                    </td>
                    <td><a href="#"><i class="icon -twitter"></i></a>
                    </td>
                    <td><a href="#"><i class="icon -linkedin"></i></a>
                    </td>
                  </tr>
                </table>
                <input placeholder="E-mail" type="text" name="email"/>
                <input placeholder="Пароль" type="password" name="password"/>
                <label class="checkbox">
                  <input type="checkbox" name="save"/><span>Запомнить</span>
                </label>
                <button class="btn -orange -right">OK</button>
                <button class="btn -link">Забыли пароль</button>
              </div>
            </div><!-- #login_form -->

          </div>
        </div><!-- .navbar -->

      </div><!-- .fixed-wrapper -->

    </div><!-- .header -->

    <div class="navbar-footer">
      <div class="container">
        <div class="ratio">38</div>
        <div class="game-progress">
          <div class="game-ratio">5K</div>
          <div class="progress-bar">
            <div style="width:75%" class="progress">300</div>
          </div>
          <div class="game-ratio-target">1000</div>
        </div>
        <div class="pull-right">
          <div class="balance">
            <div class="coin"></div>
            <div class="digit-group"><span class="digit -d5"></span><span class="digit -d2"></span><span class="digit -d0"></span></div>
            <div class="digit-group"><span class="digit -d6"></span><span class="digit -d0"></span><span class="digit -d0"></span></div>
            <div class="digit-group"><span class="digit -arrows-down"></span>
              <!--.-arrows OR .-arrows-up OR .-arrows-down-->
            </div>
          </div>
          <div onMouseOver="$(this).toggleClass(&quot;flip&quot;)" class="gold-coin">+7</div> <a class="btn game-move" href="#">Ход 7 <small>50</small></a>
        </div>
      </div>
    </div>
    <!--.navbar-footer-->
    
    <div class="tabs">
      <ul>
        <li class="active"><a href="#">Компания</a>
        </li>
        <li><a href="#">Рынок</a>
        </li>
        <li><a href="#">Новости</a>
        </li>
      </ul>
    </div>
    <!--.tabs-->
    <div class="subtabs">
      <ul>
        <li class="-active"><a href="#">Производство</a></li>
        <li class="false"><a href="#">Маркетинг</a></li>
        <li class="false"><a href="#">Финансы</a></li>
        <li class="false"><a href="#">Персонал</a>
          <ul>
            <li><a href="#">Item A</a>
            </li>
            <li><a href="#">Item B</a>
            </li>
            <li><a href="#">Item C</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!--.subtabs-->
    <div class="container">
      <h1>Новости</h1>
      <div class="news">
        <div class="news-row"><a class="btn-close"></a>
          <div class="thumb"><img src="http://lorempixel.com/140/140/sports/2" alt="" width="140" height="140"/>
          </div>
          <h3>Экспериментальный анализ рыночных цен</h3>
          <p>Воздействие на потребителя, согласно Ф.Котлеру, экономит общественный социальный статус, оптимизируя бюджеты.</p>
          <div class="pull-right">
            <div class="btn -unhover -flat -lighten">Колическтво <span class="label">100</span>
            </div>
            <div class="btn -unhover -flat -lighten">Цена <span class="price">10 000</span>
            </div><a class="btn -orange">Продать <span class="label">12:00</span></a>
          </div>
        </div>
      </div>
      <div class="news">
        <div class="news-row"><a class="btn-close"></a>
          <div class="thumb"><img src="http://lorempixel.com/140/140/business/2" alt="" width="140" height="140"/>
          </div>
          <h3>Экспериментальный анализ рыночных цен</h3>
          <table class="table table-list">
            <tr>
              <th>Другой параметр</th>
              <td>
                <div class="label -red">1 000 000</div>
              </td>
            </tr>
            <tr>
              <th>Колическтво</th>
              <td>
                <div class="label -green">100</div>
              </td>
            </tr>
            <tr>
              <th>Цена</th>
              <td><span class="price">10 000</span></td>
            </tr>
          </table>
          <div class="pull-right"><a class="btn -grey">Купить <span class="label -orange">12:00</span></a></div>
        </div>
      </div>
    </div>
  </body>
</html>
