html/improvement.html

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/global.css"/>
    <link rel="stylesheet" href="../css/absolute.css"/>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.simplemodal.min.js"></script>
    <script type="text/javascript" src="../js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="../js/common.min.js"></script>
    <script src="http://gordo.st/js/global.js"></script>
    <title>Компания / Персонал / Организационная структура
    </title>
  </head>
  <body>
    

    <div class="header">

      <div class="fixed-wrapper">

        <div class="topbar">
          <div class="container">
            <ul class="nav">
              <li><a href="company-list.html">Компании</a>
              </li>
              <li><a href="vacancy-list.html">Вакансии</a>
              </li>
            </ul>
            <ul class="nav">
              <li class="active"><a href="#bs">Бизнес Симулятор</a>
              </li>
              <li><a href="blog-list">Тусовка</a>
              </li>
            </ul>
          </div>
        </div><!-- .topbar -->


        <div class="navbar">
          <div class="container"><a class="logo" href="/"><img src="../img/navbar-logo.png" alt=""/></a><a class="logo-lion" href="/"></a>

            <div id="tray" class="tray"> <a class="btn -tooltip" href="#">15</a>
              <div class="group"> <a class="btn -white" href="#"><span class="avatar"><img src="http://lorempixel.com/30/30/abstract/1" alt="" width="30" height="30"/></span>Username</a> <a class="btn -white -compact" href="#"><i class="icon -remove-dark"></i></a>
              </div>
              <form id="navbar_search" class="form group">
                <input id="navbar_search_field" type="text" name="search"/>
                <button id="navbar_search_btn" class="btn -white"><i class="icon -search-dark"></i></button>
              </form>
            </div><!-- #tray -->


            <div id="login_form" class="form">
              <div class="wrapper">
                <div class="title">Вход / Регистрация</div>
                <table class="social">
                  <tr>
                    <td><a href="#"><i class="icon -vk"></i></a>
                    </td>
                    <td><a href="#"><i class="icon -facebook"></i></a>
                    </td>
                    <td><a href="#"><i class="icon -twitter"></i></a>
                    </td>
                    <td><a href="#"><i class="icon -linkedin"></i></a>
                    </td>
                  </tr>
                </table>
                <input placeholder="E-mail" type="text" name="email"/>
                <input placeholder="Пароль" type="password" name="password"/>
                <label class="checkbox">
                  <input type="checkbox" name="save"/><span>Запомнить</span>
                </label>
                <button class="btn -orange -right">OK</button>
                <button class="btn -link">Забыли пароль</button>
              </div>
            </div><!-- #login_form -->

          </div>
        </div><!-- .navbar -->

      </div><!-- .fixed-wrapper -->

    </div><!-- .header -->

    <div class="navbar-footer">
      <div class="container">
        <div class="ratio">38</div>
        <div class="game-progress">
          <div class="game-ratio">5K</div>
          <div class="progress-bar">
            <div style="width:75%" class="progress">300</div>
          </div>
          <div class="game-ratio-target">1000</div>
        </div>
        <div class="pull-right">
          <div class="balance">
            <div class="coin"></div>
            <div class="digit-group"><span class="digit -d5"></span><span class="digit -d2"></span><span class="digit -d0"></span></div>
            <div class="digit-group"><span class="digit -d6"></span><span class="digit -d0"></span><span class="digit -d0"></span></div>
            <div class="digit-group"><span class="digit -arrows-down"></span>
              <!--.-arrows OR .-arrows-up OR .-arrows-down-->
            </div>
          </div>
          <div onMouseOver="$(this).toggleClass(&quot;flip&quot;)" class="gold-coin">+7</div> <a class="btn game-move" href="#">Ход 7 <small>50</small></a>
        </div>
      </div>
    </div>
    <!--.navbar-footer-->
    
    <div class="tabs">
      <ul>
        <li class="active"><a href="#">Компания</a>
        </li>
        <li><a href="#">Рынок</a>
        </li>
        <li><a href="#">Новости</a>
        </li>
      </ul>
    </div>
    <!--.tabs-->
    <div class="subtabs">
      <ul>
        <li class="false"><a href="#">Производство</a></li>
        <li class="false"><a href="#">Маркетинг</a></li>
        <li class="false"><a href="#">Финансы</a></li>
        <li class="-active"><a href="#">Персонал</a>
          <ul>
            <li><a href="#">Item A</a>
            </li>
            <li><a href="#">Item B</a>
            </li>
            <li><a href="#">Item C</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!--.subtabs-->
    <h1>Организационная структура</h1>
    <div class="container">
      <div class="col panel -grey">
        <div class="panel-header text-left"> <span class="label -right -dark">1/3</span>Если 642х+3=43х+6, то х=
        </div>
        <div class="panel -white -list"><span class="thumb"><img src="http://lorempixel.com/320/320/sports/4" alt="" width="320" height="320"/></span>
          <value>= value || null</value>
          <label>
            <input type="radio" name="test1" value="1"/> 0
          </label>
          <value>= value || null</value>
          <label>
            <input type="radio" name="test1" value="2"/> 1
          </label>
          <value>= value || null</value>
          <label>
            <input type="radio" name="test1" value="3"/> 2
          </label>
          <value>= value || null</value>
          <label>
            <input type="radio" name="test1" value="3"/> 3
          </label>
          <value>= value || null</value>
          <label>
            <input type="radio" name="test1" value="3"/> 4
          </label>
        </div>
      </div>
      <div class="col panel -grey">
        <div class="panel-header text-left"> <span class="label -right -dark">1/3</span>Если 642х+3=43х+6, то х=
        </div>
        <div class="panel -white -list">
          <value>= value || null</value>
          <label>
            <input type="radio" name="test1" value="1"/> 0
          </label>
          <value>= value || null</value>
          <label>
            <input type="radio" name="test1" value="2"/> 1
          </label>
          <value>= value || null</value>
          <label>
            <input type="radio" name="test1" value="3"/> 2
          </label>
          <value>= value || null</value>
          <label>
            <input type="radio" name="test1" value="3"/> 3
          </label>
          <value>= value || null</value>
          <label>
            <input type="radio" name="test1" value="3"/> 4
          </label>
        </div>
      </div>
    </div>
  </body>
</html>

jade/improvement.jade
extends _layout

block vars
	- var title         = 'Компания / Персонал / Организационная структура'
	- var active_tab    = 'Компания'
	- var active_subtab = 'Персонал'

block content
	//- .tooltip(style='left:50%') Tooltip message
	h1
		Организационная структура
	.container

		.col.panel.-grey
			.panel-header.text-left
				+label(class='-right -dark') 1/3
				|Если 642х+3=43х+6, то х=
			.panel.-white.-list
				span.thumb: +lorem-img(320, 320)
				+radio('test1', 1) 0
				+radio('test1', 2) 1
				+radio('test1', 3) 2
				+radio('test1', 3) 3
				+radio('test1', 3) 4

		.col.panel.-grey
			.panel-header.text-left
				+label(class='-right -dark') 1/3
				|Если 642х+3=43х+6, то х=
			.panel.-white.-list
				+radio('test1', 1) 0
				+radio('test1', 2) 1
				+radio('test1', 3) 2
				+radio('test1', 3) 3
				+radio('test1', 3) 4
