html/mail.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/mail.css"/>
    <title>
    </title>
  </head>
  <body>
    <div class="navbar">
      <div class="logo"></div>
      <!--.navbar-content-->
    </div>
    <div class="container">
      <h1>Header 1</h1>
      <h2>Header 2</h2><a class="thumb" href="#"><img src="http://lorempixel.com/200/150/technics/0" alt="" width="200" height="150"/></a>
      <p>Давно выяснено, что при оценке <a href="#">дизайна</a> и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.</p>
      <p>За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p> <a class="btn -dark" href="#">Button</a> <a class="btn -yellow" href="#">Button</a> <a class="btn -red" href="#">Button</a> <a class="btn -blue" href="#">Button</a> <a class="btn -green" href="#">Button</a> <a class="btn -olive" href="#">Button</a> <a class="btn -cyan" href="#">Button</a> <a class="btn -purple" href="#">Button</a> <a class="btn -white" href="#">Button</a> <a class="btn -light" href="#">Button</a> <a class="btn -grey -tiny" href="#">Tiny Button</a> <a class="btn -grey -large" href="#">Large Button</a>
      <hr><a class="thumb" href="#"><img src="http://lorempixel.com/200/150/fashion/8" alt="" width="200" height="150"/>
        <div class="caption">Caption</div></a>
      <p>Давно выяснено, что при оценке <a href="#">дизайна</a> и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.</p>
      <p>За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>
    </div>
  </body>
</html>

jade/mail.jade
include _mixins

doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		+css(['mail.css'])
		title: =title
	body
		.navbar
			.logo

			//.navbar-content

		.container

			h1 Header 1
			h2 Header 2
			+link.thumb
				+lorem-img(200, 150)
			p Давно выяснено, что при оценке <a href="#">дизайна</a> и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.
			p За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
			+btn().-dark Button
			+btn().-yellow Button
			+btn().-red Button
			+btn().-blue Button
			+btn().-green Button
			+btn().-olive Button
			+btn().-cyan Button
			+btn().-purple Button
			+btn().-white Button
			+btn().-light Button
			+btn(class='-grey -tiny') Tiny Button
			+btn(class='-grey -large') Large Button

			hr
			+link.thumb
				+lorem-img(200, 150)
				.caption Caption
			p Давно выяснено, что при оценке <a href="#">дизайна</a> и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.
			p За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
